<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.afenstermaker.c868capstoneproject">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.C868CapstoneProject"
            tools:targetApi="31">
        <activity
                android:name=".UI.CourseDetail"
                android:exported="false" />
        <activity
                android:name=".UI.EditCourse"
                android:exported="false" />
        <activity
                android:name=".UI.EditAssignment"
                android:exported="false" />
        <activity
                android:name=".UI.AssignmentDetail"
                android:exported="false"
                android:label="View Assignment" />
        <activity
                android:name=".UI.Reports"
                android:exported="false"
                android:label="Reports"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".UI.AssignmentList"
                android:exported="false"
                android:label="All Assignments"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".UI.CourseList"
                android:exported="false"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>